{{ $recentArticles := 5 }}
{{ $recentArticles = .Site.Params.homepage.showRecentItems }}


<div class="relative w-screen max-w-[1600px] px-[30px] start-[calc(max(-50vw,-800px)+50%)]">
  <section class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
    {{ range $index, $element := first $recentArticles ((where .Site.RegularPages "Type" "in" .Site.Params.mainSections)) }}
      {{ partial "article-link/card.html" (dict "page" . "index" $index) }}
    {{ end }}
  </section>
</div>
