{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}

<article class="max-w-full">
  <div class="relative">
    <div class="mx-auto max-w-7xl">
      <div class="relative flex flex-col items-center justify-center px-6 py-12 text-center" style="margin-top: 90px;">
        <style>
          .home-title {
            font-size: 1.5rem !important;
            line-height: 2rem !important;
          }
          @media (min-width: 853px) {
            .home-title {
              font-size: 2.25rem !important;
              line-height: 2.5rem !important;
            }
          }
        </style>
        <h1 class="home-title mb-4 font-extrabold text-neutral-900 dark:text-neutral">
          {{ .Site.Title }}
        </h1>
        {{ with .Site.Params.Author.headline }}
          <h2 class="mt-0 text-xl text-neutral-500 dark:text-neutral-400">
            {{ . | markdownify }}
          </h2>
        {{ end }}
        
        <div class="prose dark:prose-invert w-full max-w-none text-center">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</article>

<section class="recent-articles-section relative z-10 pt-10">
  <div class="flex flex-col lg:flex-row lg:items-start mt-8">
    <div class="flex-grow min-w-0">
      <section>
        {{ partial "recent-articles/main.html" . }}
      </section>
      </div>
      
      <aside class="w-full lg:w-1/6 lg:ps-8 flex-shrink-0 mt-8 lg:mt-0">
        <div class="lg:sticky lg:top-10">
          {{ partial "popular-articles-sidebar.html" . }}
          {{ partial "categories-sidebar.html" . }}
          {{ partial "imobile-ad.html" . }}
        </div>
      </aside>
      </div>
</section>
